<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>BaseProject Thymeleaf (feat. AdminLTE3)</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />

    <th:block layout:fragment="css"/>
</head>
<body >
    <div class="wrapper">
        <th:block th:replace="fragments/header :: headerFragment"/>
        <th:block th:replace="fragments/sidebar :: sidebarFragment"/>

        <!-- start: content fragment 화면 별 html 삽입 -->
        <th:block layout:fragment="content"/>
        <!-- end: content fragment 화면 별 html 삽입 -->

        <th:block th:replace="fragments/footer :: footerFragment"/>
    </div>

    <th:block layout:fragment="script"/>
</body>
</html>